.b-dropdown.show > .btn-secondary.dropdown-toggle
  border-bottom-color: transparent

.show > .btn-secondary.dropdown-toggle
  background-color: $clr-bg-primary
  border-color: $clr-primary
  z-index: 10000
  color: $clr-primary

.dropdown-menu
  border-color: $clr-primary
  background-color: $clr-bg-primary
  box-shadow: 0.3em 0.3em 0 fade-out($clr-primary, 0.8)
  margin-top: -1px

.dropdown-divider
  border-color: $clr-primary

.dropdown-item:not(.disabled):hover, .dropdown-item:focus
  background-color: $clr-bg-secondary

.dropdown-item:active
  background-color: $clr-accent

h6.dropdown-header
  @extend %text-small-caps
  margin-right: 1em

.dropdown-toggle:after
  font-family: dripicons-v2
  content: 'T'
  margin-left: 0.6em
  margin-right: 0.6em
  border: none
  vertical-align: text-top
  // border-color: transparent
.dropdown-toggle-split:after
  margin-left: 0
