.filterbox {
  border: 0.2em solid $black;
}
.filterbox .box-header {
  float: left;
  width: 100%;
  border-bottom: 1px solid $black;
  height:2em;
}
.filterbox .box-header h4 {
  float: left;
  width: calc(100% - 4em);
  color: $black;
  padding: .3em .4em 0 .4em;
  font-size: 1.2rem;
  line-height: 1;
}
.filterbox .box-header .remove,
.filterbox .box-header .contextmenu {
  float: right;
  border-left: 1px solid $black;
  height: 100%;
  width: 2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: .9em auto;
}

.filterbox .box-header .contextmenu {
  background-image: url(../assets/symbols/b-settings.svg);
  background-size: 1.1em auto;
}
.filterbox .box-header .contextmenu:hover {
  background-color: $primary;
}
.filterbox .box-header .remove {
  background-image: url(../assets/symbols/b-close.svg);
}
.filterbox .box-header .remove:hover {
  background-color: $danger;
}
.filterbox .box-body {
  padding: .3em .4em 0 .4em;
}

.custom-controls-stacked {
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
}
