.filterbox {
  margin-bottom: 1em;
  border: .15em solid $black;
}

.filterbox .box-header {
  float: left;
  width: 100%;
  height: 2em;
  border-bottom: 1px solid $black;
}

.filterbox .box-header .box-title {
  float: left;
  width: calc(100% - 4em);
  height: 100%;
  padding: .5em 0 0 .5em;
  overflow: hidden;
}

.filterbox .box-header .box-title h4 {
  width: calc(100% - 4em);
  font-size: 1rem;
  line-height: 1;
  color: $black;
}

.filterbox .box-header .contextmenu,
.filterbox .box-header .remove {
  float: right;
  width: 2em;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: .9em auto;
  border-left: 1px solid $black;
}

.filterbox .box-header .contextmenu {
  background-image: url("/static/symbols/b-settings.svg");
  background-size: 1.1em auto;
}

.filterbox .box-header .contextmenu:hover {
  background-color: $primary;
}

.filterbox .box-header .remove {
  background-image: url("/static/symbols/b-close.svg");
}

.filterbox .box-header .remove:hover {
  background-color: $danger;
}

.filterbox .contextmenu div:not(.dropdown-divider) {
  margin: .2rem .7rem;
}
