.vue-slider-component .vue-slider-dot
  background-color: $black
  border: 0.16em solid $white
  box-shadow: none !important

.vue-slider-component .vue-slider-process
  background-color: $primary

.vue-slider-component .vue-slider-tooltip
  border-color: $clr-primary
  background-color: $clr-bg-primary
  color: $clr-primary
  border-radius: 0
