.vue-slider-component .vue-slider-dot {
  background-color: $black;
  border: 0.16em solid $white;
  box-shadow: none !important;
}
.vue-slider-component .vue-slider-process {
  background-color: $primary;
}
.vue-slider-component .vue-slider-tooltip{
  border-color: $black;
  background-color: $black;
  border-radius: $border-radius;
}
