h4, h6 {
  text-transform: uppercase;
  letter-spacing: .1rem;
}
.dropdown-menu {
    border-color: $gray-600;
    box-shadow: 0.3em 0.3em 0 rgba(0,0,0,0.2);
}
.dropdown-divider {
    border-color: $gray-500;
}
.custom-select {
  border-color: $gray-600;
}
.custom-select:focus {
  border-color: $gray-600;
  box-shadow: 0.3em 0.3em 0 rgba(0,0,0,0.2);
}
