.dropdown-menu {
    border-color: $black;
    box-shadow: 0.2em 0.2em 0 $black;
}
.custom-select {
  border-color: $black;
}
.custom-select:focus {
  border-color: $black;
  box-shadow: 0.2em 0.2em 0 $black;
}
